html,
body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  width: 100%;
  text-align: center;
  justify-items: center;
  align-items: center;
  background-color: black;
}

.motivationImage {
  grid-column: 2;
  width: 100%;
}

.container {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  justify-content: center;
  padding: 1em;
}

.task {
  background-color: chocolate;
}

.taskList {
  grid-column: 1;
}

.remove {
  border-radius: 1em;
  border: none;
  color: white;
  background-color: rgb(223, 24, 24);
  float: right;
}

.completed {
  border-radius: 1em;
  border: none;
  color: white;
  background-color: rgb(14, 88, 5);
  float: right;
  margin-right: 10px;
}

#toDoHeader {
  grid-column: 1;
  background-color: blanchedalmond;
}

#completedHeader {
  background-color: rgb(91, 165, 42);
  grid-column: 2;
}
